section.features
  .wrap
    .features-columns.clearfix
      .feature
        .ico-help
        h4 Easy for user
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit aliquet felis, quis ultrices orci condiment.
      // feature
      .feature
        .ico-like
        h4 Easy for user
        p
          | Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum.
      // feature
      .feature
        .ico-present
        h4 Easy for user
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit aliquet felis, quis ultrices orci condiment.
      // feature
      // features-columns
      // wrap
// features
