footer
  .wrap
    .logo
      a(href='#')
        img(src='img/upload/logo-min.png' width='64' height='52' alt='SPORTHERE, YOUR SPORT DASHBOARD')
    // logo
    .istore
      a(href='#') Available in Apple Store
    .copy
      p
        | Copyright © 2014 
        a(href='#') Сreativity
    // copy
    .social
      ul.clearfix
        li
          a.social-facebook(href='#' title='facebook') facebook
        li
          a.social-twitter(href='#' title='twitter') twitter
        li
          a.social-googleplus(href='#' title='google plus') google plus
    // social
    // wrap
