header
  .wrap
    .logo
      a(href='/')
        img(src='img/upload/logo.png' width='262' height='52' alt='SPORTHERE, YOUR SPORT DASHBOARD')
    // logo
    .social
      ul.clearfix
        li
          a.social-facebook(href='#' title='facebook') facebook
        li
          a.social-twitter(href='#' title='twitter') twitter
        li
          a.social-googleplus(href='#' title='google plus') google plus
    // social
    // wrap
