section.simple
  .wrap
    h2 Discover. Give. Impact.
    p
      | Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
  // wrap
// simple
