section.subscribe
  .wrap
    .subscribe-title Subscribe to our newsletter
    .subscribe-form.clearfix
      form
        input.subscribe-email(type='email' placeholder='Your email adress')
        input.subscribe-button(type='button' value='Subscribe')
    // subscribe-form
    .subscribe-note
      | If you want to recieve monthly updates from us just pop your email inthe box.
      br
      | We think that spam is for jerks. And jerks we are not.
  // wrap
// subscribe
