section.tabsblock
  .wrap
    .tab
      ul.tabs.clearfix
        li.active
        li
        li
      // tabs
      .box.visible
        .box-text
          h3 The easiest way to show off your best apps
          p
            | Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit aliquet felis, quis ultrices orci condiment.
        img(src='img/upload/tabs.png' width='437' height='459' alt='')
      // box
      .box
        .box-text
          h3 The easiest way to show off your best apps
          p
            | Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit aliquet felis, quis ultrices orci condiment.
        img(src='img/upload/tabs.png' width='437' height='459' alt='')
      // box
      .box
        .box-text
          h3 The easiest way to show off your best apps
          p
            | Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit aliquet felis, quis ultrices orci condiment.
        img(src='img/upload/tabs.png' width='437' height='459' alt='')
      // box
      // tab
      // wrap
// 
